.about_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 108px 0 128px 0;
    
}

.about_text h1 {
    font-size: 64px;
    font-weight: 600;
    line-height: 72px;
    max-width: 618px;
    color: #1D3444;
}

.about_text p {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    max-width: 510px;
    margin: 24px 0;

}

.about_text button {
    width: 171px;
    height: 54px;
    border-radius: 27px ;
    background: #F58A07;
    color: white;
    border: none;
    outline: none;
}


.latest {
    background: #DCEAF5;

}

.latest_box {
    padding: 64px 0 90px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.latest_h2 {
    padding-top: 96px;
}

.latest_card{
    background: white;
    width: 400px;
    height: 507px;
    overflow: hidden;
    border-radius: 20px;
}

.latest_card_text {
    padding: 0 32px 32px 32px;
}

.latest_card h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    max-width: 336px;
    margin-top: 32px;
}

.latest_card p {
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    max-width: 336px;
    margin: 16px 0 24px 0;
}

.latest_card span {
    color: #F58A07;
    display: flex;
    align-items: center;
    gap: 8px;
}
